mixin content
  section.title.inverse(data-background='#16a086')
    h1 Concurrency in Go
    h2 Paul Nechifor
    .sub-info
      p.left
        a(href='http://www.infoiasi.ro/bin/Main/') Faculty of Computer Science
      p.right 7 May 2014
  section
    h2 Outline
    ul
      li description of Go
      li concurrency aproach
      li concurrency language features
      li concurrency patterns
      li conclusion and summary
  section
    h2 About Go
    ul
      li Released in 2009, version 1.0 in 2012.
  section
    h2 Syntax
    ul
      li Similar to C.
      li Only looping construct is <code>for</code> (includes range loops).
      li Generally safer constructs (no <code>break</code> in
        | <code>switch</code>).
      li Less verbosity (fewer parenthesis and mostly no semicolons).
      li Uses <code>:=</code> for assignment and type inferrence.
  section
    h2 Concurrency Aproach
    ul
      li <strong>concurrency</strong>: computations executing in overlaping time
        | periods
      li <strong>parallelism</strong>: use of multiple execution units
      li <strong>coroutines</strong>: generalization of subrutines with multiple
        | points for suspending and resuming execution
      li Go uses both for concurrency.
  section
    h2 Goroutines
    ul
      li light-weight processes (not coroutines)
      li multiplexed over native threads
      li has own call stack (heap allocated, fragmented, extensible)
      li 100000s are practical
  section
    h2 Channels
  section
    h2 Select
  section
    h2 Patterns
    ul
      li generator
      li quit channel
      li error handling
  section
    h2 Conclusion
  section
    h2 Summary
  section
    h2 References
    - var links = []; // No multiline array support in Jade.
    - links.push('golang.org/doc/effective_go.html');
    - links.push('en.wikipedia.org/wiki/Light-weight_process');
    ul
      each link in links
        li
          a(href='http://' + link)= link
  section.title.inverse(data-background='#16a086')
    h1 The End
    h2 Questions?

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Concurrency in Go
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='reveal/reveal.min.css')
    link(rel='stylesheet', href='style.css')
  body
    .reveal
      .slides
        +content()
    script(src='reveal/head.min.js')
    script(src='reveal/reveal.min.js')
    script(src='js/highlight.js')
    script(src='script.js')
