@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:400,700,400italic,700italic')

transition-mixin()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

body
  background #FFF

::selection
  color white
  background rgba(79, 64, 28, 0.99)
  text-shadow none

.reveal
  font-family "Ubuntu", sans-serif
  font-size 30px
  font-weight 400
  letter-spacing -0.02em
  color #000
  a
    &:not(.image)
      color #A2650B
      text-decoration none
      transition-mixin color .15s ease
    &:not(.image):hover
      color #c0a86e
      text-shadow none
      border none
    &:hover
      img
        background rgba(255, 255, 255, 0.2)
        border-color #8b743d
        box-shadow 0 0 20px rgba(0, 0, 0, 0.55)
  .roll
    span
      &:after
        color #fff
        background #564826
  section
    img
      margin 15px 0px
      background rgba(255, 255, 255, 0.12)
      transition-mixin all .2s linear
  controlsColor = #ccc
  .controls
    div.navigate-left, div.navigate-left.enabled
      border-right-color controlsColor
    div.navigate-right, div.navigate-right.enabled
      border-left-color controlsColor
    div.navigate-up, div.navigate-up.enabled
      display none
    div.navigate-down, div.navigate-down.enabled
      display none
  ul
    margin-left 1.5em
  .progress
    background rgba(0, 0, 0, 0.2)
    span
      background #8b743d
      transition-mixin width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985)
  pre
    font-size 0.8em
    box-shadow none
    width 95%
    code
      padding 10px
      background #F8FAE1
      display block
      max-height none
      line-height 1.1
      font-family 'Ubuntu Mono'
      &.big-pre
        font-size 32px
    &.inline
      width auto
      display inline
      code
        display inline
        vertical-align 0
  table
    margin 10px auto
  h1, h2, h3, h4, h5, h6
    margin 0 0 20px 0
    color #000
    font-weight 700
    line-height 0.9em
    letter-spacing -0.03em
    text-transform none
    text-shadow none
  .inverse
    h1, h2, h3, h4, h5, h6
      color #fff
  p, li, td
    font-size 40px
    line-height 50px
  li
    margin-bottom 20px
  .title
    h1
      font-size 160px
      line-height 1
      padding-bottom 50px
    h2
      font-size 80px
    h1, h2
      letter-spacing 4px
  .main-links
    font-size 15px
    margin-top 40px
    color #fff
    a
      color #fff
  .sub-info
    margin-top 40px
    .left
      float left
    .right
      float right
  .title.inverse
    h1, h2
      text-shadow 5px 4px 0 #1bbc9b, 10px 9px 0 rgba(0,0,0,0.15)
    .sub-info
      color #fff
      a
        color #fff
  .plot
    height 800px
    max-width none
    max-height none
    margin -40px 0 0 0
  .img-classif
    padding 0 5px
    width 240px
  .img-classif-small
    padding 0 5px
    width 200px

.print-pdf .reveal
  .title h1
    font-size 140px
  pre code.big-pre
    font-size 25px

// Highlight.js theme. Based on the GitHub theme.
code
  .comment,
  .template_comment,
  .diff .header,
  .javadoc
    color #998
    font-style italic
  .keyword,
  .css .rule .keyword,
  .winutils,
  .javascript .title,
  .nginx .title,
  .subst,
  .request,
  .status
    color #333
    font-weight bold
  .number,
  .hexcolor,
  .ruby .constant
    color #099
  .string,
  .tag .value,
  .phpdoc,
  .tex .formula
    color #d14
  .title,
  .id,
  .coffeescript .params,
  .scss .preprocessor
    color #900
    font-weight bold
  .javascript .title,
  .lisp .title,
  .clojure .title,
  .subst
    font-weight normal
  .class .title,
  .haskell .type,
  .vhdl .literal,
  .tex .command
    color #458
    font-weight bold
  .tag,
  .tag .title,
  .rules .property,
  .django .tag .keyword
    color #000080
    font-weight normal
  .attribute,
  .variable,
  .lisp .body
    color #008080
  .regexp
    color #009926
  .symbol,
  .ruby .symbol .string,
  .lisp .keyword,
  .tex .special,
  .prompt
    color #990073
  .built_in,
  .lisp .title,
  .clojure .built_in
    color #0086b3
  .preprocessor,
  .pragma,
  .pi,
  .doctype,
  .shebang,
  .cdata
    color #999
    font-weight bold
  .deletion
    background #fdd
  .addition
    background #dfd
  .diff .change
      background #0086b3
  .chunk
    color #aaa
